@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.container {
  max-width: 1720px;
  padding: 60px 100px;
  margin: 0 auto;
  border-bottom: 2px solid lightgrey;
}
@media (max-width: 1600px) {
  .container {
    padding: 40px 70px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px 30px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    grid-gap: 10px;
  }
}
.header__logo {
  max-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__logo-path {
  fill: lightsalmon;
}
.header__gradient {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(149deg, rgb(108, 157, 148) 0%, rgb(102, 115, 196) 42%, rgb(194, 137, 181) 72%, rgb(238, 236, 107) 100%);
  -webkit-animation: gradient 10s infinite linear;
          animation: gradient 10s infinite linear;
  background-size: 400%;
}
.header__text {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  opacity: 0.25;
}
@media (max-width: 1600px) {
  .header__text {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .header__text {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .header__text {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .header__text {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .header__text {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .header__text {
    font-size: 18px;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}
.greeting__blue-card {
  display: flex;
  background: rgb(206, 238, 249);
  padding: 0 25px 25px 50px;
  border-radius: 30px;
  transition: all 0.5s;
  transform: translate(500px, 0);
}
@media (max-width: 768px) {
  .greeting__blue-card {
    flex-direction: column-reverse;
    padding: 0 20px 30px;
  }
}
.greeting__photo {
  padding: 100px 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background: #dfe0e9;
  display: flex;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border: 2px solid rgba(0, 0, 255, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  transform: translate(0, 6px);
}
@media (max-width: 768px) {
  .greeting__photo {
    align-self: center;
    transform: translate(0, 0);
    padding: 50px 10px;
    margin-top: 30px;
  }
}
.greeting__no-photo {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  opacity: 0.5;
}
@media (max-width: 1600px) {
  .greeting__no-photo {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .greeting__no-photo {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .greeting__no-photo {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .greeting__no-photo {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .greeting__no-photo {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .greeting__no-photo {
    font-size: 18px;
  }
}
.greeting__wrapper {
  margin-left: 100px;
}
@media (max-width: 1400px) {
  .greeting__wrapper {
    margin-left: 60px;
  }
}
@media (max-width: 1024px) {
  .greeting__wrapper {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .greeting__wrapper {
    margin-left: 0;
    text-align: center;
  }
}
.greeting__hello {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-size: 50px;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .greeting__hello {
    font-size: 46px;
  }
}
@media (max-width: 1400px) {
  .greeting__hello {
    font-size: 42px;
  }
}
@media (max-width: 1200px) {
  .greeting__hello {
    font-size: 38px;
  }
}
@media (max-width: 1024px) {
  .greeting__hello {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .greeting__hello {
    font-size: 30px;
  }
}
@media (max-width: 578px) {
  .greeting__hello {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .greeting__hello {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .greeting__hello {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .greeting__hello {
    margin-top: 20px;
  }
}
.greeting__name {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-size: 50px;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .greeting__name {
    font-size: 46px;
  }
}
@media (max-width: 1400px) {
  .greeting__name {
    font-size: 42px;
  }
}
@media (max-width: 1200px) {
  .greeting__name {
    font-size: 38px;
  }
}
@media (max-width: 1024px) {
  .greeting__name {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .greeting__name {
    font-size: 30px;
  }
}
@media (max-width: 578px) {
  .greeting__name {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .greeting__name {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .greeting__name {
    font-size: 24px;
  }
}
.greeting__position {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .greeting__blue-card {
    transition: opacity 1s ease, transform 1s ease;
  }
}
.greeting-transition {
  opacity: 1;
  transform: translate(0, 0);
}

.skills__pink-card {
  background: rgb(221, 206, 249);
  padding: 50px 25px 25px 50px;
  border-radius: 30px;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .skills__pink-card {
    padding: 40px 20px 30px 30px;
  }
}
.skills__title {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-size: 50px;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .skills__title {
    font-size: 46px;
  }
}
@media (max-width: 1400px) {
  .skills__title {
    font-size: 42px;
  }
}
@media (max-width: 1200px) {
  .skills__title {
    font-size: 38px;
  }
}
@media (max-width: 1024px) {
  .skills__title {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .skills__title {
    font-size: 30px;
  }
}
@media (max-width: 578px) {
  .skills__title {
    font-size: 28px;
  }
}
@media (max-width: 480px) {
  .skills__title {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .skills__title {
    font-size: 24px;
  }
}
.skills__new {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  opacity: 0.3;
}
@media (max-width: 1600px) {
  .skills__new {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .skills__new {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .skills__new {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .skills__new {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .skills__new {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .skills__new {
    font-size: 18px;
  }
}
.skills-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.skills-list__item {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300px;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .skills-list__item {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .skills-list__item {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .skills-list__item {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .skills-list__item {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .skills-list__item {
    font-size: 14px;
  }
}
.skills-list__item::marker {
  font-family: "Indie Flower", cursive !important;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  color: var(--marker-color);
}
@media (max-width: 1600px) {
  .skills-list__item::marker {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .skills-list__item::marker {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .skills-list__item::marker {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .skills-list__item::marker {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .skills-list__item::marker {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .skills-list__item::marker {
    font-size: 18px;
  }
}
.skills__more-info {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .skills__more-info {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .skills__more-info {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .skills__more-info {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .skills__more-info {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .skills__more-info {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .skills__more-info {
    font-size: 18px;
  }
}
.skills-second-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
}
.skills-second-list__item {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300px;
  opacity: 0.8;
  padding: 5px 10px;
  background: rgb(202, 236, 223);
}
@media (max-width: 1600px) {
  .skills-second-list__item {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .skills-second-list__item {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .skills-second-list__item {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .skills-second-list__item {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .skills-second-list__item {
    font-size: 14px;
  }
}
.skills__text {
  margin-top: 25px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300px;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .skills__text {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .skills__text {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .skills__text {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .skills__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .skills__text {
    font-size: 14px;
  }
}
.skills__gitlab {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .skills__gitlab {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .skills__gitlab {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .skills__gitlab {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .skills__gitlab {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .skills__gitlab {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .skills__gitlab {
    font-size: 18px;
  }
}
.skills__link {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  color: red;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .skills__link {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .skills__link {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .skills__link {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .skills__link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .skills__link {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .skills__link {
    font-size: 18px;
  }
}

.examples-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .examples-wrapper {
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  .examples-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
@media (max-width: 578px) {
  .examples-wrapper {
    grid-gap: 10px;
  }
}
.examples-wrapper__grid {
  max-width: 100%;
  border: 2px solid #2ea399;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.examples__img {
  max-width: 100%;
  transition: all 0.5s;
}
.examples__img:hover {
  transform: scale(1.2);
}

.myself-list {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
@media (max-width: 578px) {
  .myself-list {
    grid-gap: 15px;
  }
}
.myself-list__item:last-child {
  background: rgb(168, 175, 221);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 15px;
  margin: 50px auto 0;
  box-shadow: 0 0 15px 15px #dfe0e9;
}
.myself__green-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 75%;
  background: #d2f9ce;
  padding: 15px 25px;
  border-radius: 30px;
  box-shadow: 0 0 15px 15px #dfe0e9;
}
@media (max-width: 1024px) {
  .myself__green-card {
    max-width: 90%;
  }
}
@media (max-width: 578px) {
  .myself__green-card {
    padding: 20px 30px;
    max-width: 100%;
  }
}
.myself__text {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}
@media (max-width: 1600px) {
  .myself__text {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .myself__text {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .myself__text {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .myself__text {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .myself__text {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .myself__text {
    font-size: 18px;
  }
}
.myself__img {
  margin-top: 30px;
  margin-left: 80px;
  max-width: 25%;
  border-radius: 25px;
}
@media (max-width: 578px) {
  .myself__img {
    margin-left: 30px;
    margin-top: 15px;
  }
}
.myself__link {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  font-weight: 700;
}
@media (max-width: 1600px) {
  .myself__link {
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .myself__link {
    font-size: 26px;
  }
}
@media (max-width: 1200px) {
  .myself__link {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .myself__link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .myself__link {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .myself__link {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */